/* Reset styles */
body, h1, p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    /* color: red; */
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif; /* Set the font family */
    background-color:blanchedalmond; /* Light gray background */
    color: #333; /* Dark text color */
  }
  /* Header styles */
header {
    background-color: #0077cc; /* Blue background */
    color: white; /* White text */
    padding: 20px; /* Add padding */
    text-align: center; /* Center-align text */
  }